*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
}

a:link, a:visited {
    display: inline-block;
    color: brown;
    background-color: gainsboro;
    border-radius: 15px;
    text-decoration: none;
    padding: 14px 25px;
    margin: 10px auto 10px 5px;
    }

a:hover, a:active {
    background-color: darksalmon;
}

h1,
h2 {
    color: bisque;
    text-align: center;
    background-color: saddlebrown;
    width: 350px;
    height: auto;
    border-radius: 15px;
    padding: 12px;
    margin: 10px auto 10px 5px;
}

h3 {
    color: saddlebrown;
    text-align: center;
    background-color: bisque;
    width: 350px;
    height: auto;
    border-radius: 15px;
    padding: 12px;
    margin: 5px auto 5px 5px;
}

img {
    margin-left: 30px;
    border-radius: 15px;
}

.content {
    width: 500px;
    height: auto;
    margin: 10px auto 10px 40px;
}

p,
ol,
li {
    margin-bottom: 0.5em;
}

footer {
    margin: 10px auto 10px 40px;
}